.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.no-results-header {
  text-align: center;
  font-size: 3em;
  padding: 60px 0 0 0;
}

.items {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
  margin: 100px auto;
}

.cat-card {
  margin: 20px 40px;
}

.zip-form {
  display: flex;
}

.card-heart {
  color: white;
  position: absolute;
  margin: 10px 0 0 210px;
}

.card-heart:hover {
  color: red;
  transition: all 0.5s ease-in-out;
}

.card-heart:focus {
  color: red;
}

.results-form {
  position: absolute;
  width: 100px;
  left: 100px;
  top: 100px;
  padding: 10px 0 10px 20px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.2em;
  color: #000;
  background: #f6f6f6;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .items {
    flex-direction: column;
    padding-inline-start: 0;
  }

  .results-form {
    position: relative;
    margin: 20px 0;
  }
}
