.adoptables-title {
  color: #000;
  font-size: 3em;
  text-align: center;
}
.card-container {
  padding: 0 0 80px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1200px;
  background: transparent !important;
}

.meet-them-card {
  margin: 0 0 0 23px;
  width: 280px;
  height: 357px;
}

.meet-them-btn {
  background-color: #b3ddf2;
  color: #000 !important;
  text-align: center;
  width: 100%;
  height: 60px;
  border-top: 2px solid #fff !important;
  font-size: 1.2em !important;
}

.meet-them-btn:hover {
  background-color: #7abfe2 !important;
}

.card-copy {
  font-size: 1.2em;
}

.card-heart {
  color: white;
  border: 4px solid red;
  position: absolute;
  margin: 10px 0 0 210px;
}

.card-heart:hover {
  color: red;
  transition: all 0.5s ease-in-out;
}

.card-heart:focus {
  color: red;
}

.logo-icon {
  width: 140px;
  margin: 0 25%;
  padding: 60px 0 0;
}

@media (min-device-width: 768px) and (max-device-width: 1124px) {
  .card-container {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card-container {
    padding: 0 0 80px 0;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .adoptables-title {
    font-size: 2em;
    padding: 0 20px;
  }

  .meet-them-card {
    margin: 0;
  }
}
