.adoptables-title {
  color: #462868;
  font-size: 3em;
  text-align: center;
}
.card-container {
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.meet-them-btn {
  background-color: #745296;
  color: #fff !important;
  text-align: center;
  width: 100%;
  height: 60px;
  border-top: 2px solid #462868 !important;
  font-size: 1.1em !important;
}

.meet-them-btn:hover {
  background-color: #462868 !important;
}

.card-heart {
  color: white;
  position: absolute;
  margin: 10px 0 0 210px;
}

.card-heart:hover {
  color: red;
  transition: all 0.5s ease-in-out;
}

.card-heart:focus {
  color: red;
}
