.UserBar {
  padding: 5px 25px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-list-item {
  padding: 0 20px;
  list-style: none;
  font-size: 1.15em;
  color: black;
}

.nav-list-item > a {
  color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

.logo {
  width: 200px;
}
