.meet-them-btn {
  background-color: #745296;
  color: #fff !important;
  text-align: center;
  width: 100%;
  height: 60px;
  border-top: 2px solid #462868 !important;
}

.meet-them-btn:hover {
  background-color: #462868 !important;
}

.card-heart-empty {
  color: white;
  position: absolute;
  margin: 10px 0 0 210px;
}

.card-heart-empty:hover {
  color: red;
  transition: all 0.5s ease-in-out;
}

.card-heart-liked {
  color: red;
  position: absolute;
  margin: 10px 0 0 210px;
}

.card-heart-liked:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}

.card-margin {
  margin: 0 20px 40px;
}
